<div class="{{class.input}}">
	<label for="{{id}}">{{label}}</label>
	<input
		name="{{id}}"
		pattern="{{pattern}}"
		minlength="{{minLength}}"
		value="{{value}}"
		type="{{type}}"
		id="{{id}}"
		maxlength="{{maxLength}}"
		required="{{required}}"
	>
</div>
