<div class="{{class.chat}}">
	<div class="{{class.chats}}">
		<div class="{{class.chatActions}}">
			<div class="{{class.chatProfileLink}}">
				{{{link}}}
			</div>
			{{{buttonNewChat}}}
			<input type="text" placeholder="Поиск" class="{{class.chatSearch}}">
		</div>
		<div class="{{class.chatsList}}">
			{{{listChats}}}
		</div>
	</div>
	<div class="{{class.chatDialog}}">
		{{{chatData}}}
	</div>
	{{{newChatPopUp}}}
</div>
