<div class='{{class.dialog}}'>
	<form class='{{class.dialogForm}}' novalidate>
		<input
			placeholder='{{placeholder}}'
			required
			class='{{class.dialogField}}'
			name='message'
			type='text'
		/>
		{{{button}}}
	</form>
	<div data-type="messagesContainer" class='{{class.dialogBody}}'>
		{{{listMessages}}}
	</div>
</div>
