<div class="{{class.container}}">
	<div class="{{class.avatar}} ibg">
		<img src="{{avatar}}" alt="">
	</div>
	<div class="{{class.mainContent}}">
		<div class="{{class.userName}}">{{userName}}</div>
		<div class="{{class.message}}">{{userMessage}}</div>
	</div>
	<div class="{{class.subContent}}">
		<div class="{{class.messageTime}}">{{messageTime}}</div>
		{{!-- <div class="{{class.counter}}">{{counter}}</div> --}}
	</div>
</div>
