<div class="{{class.container}}">
   <div class="{{class.error}}">
      <h1 class="{{class.errorTitle}}">{{errorTitle}}</h1>
      <p class="{{class.errorContent}}">{{errorContent}}</p>
      <a href="{{href}}" class="{{class.errorLink}}">{{errorLink}}</a>
   </div>
</div>