<div class="{{class.field}}">
	<label class="{{class.fieldLabel}}" for="{{id}}">
		{{label}}
	</label>
	{{{children}}}
	<div class="{{class.errorContainer}}">
		<p id="error" class="{{class.errorBody}}">{{errorMessage}}</p>
	</div>
</div>
