<div class="{{class.field}}">
	<label class="{{class.fieldLabel}}" for="{{id}}">
		{{label}}
	</label>
	<input
		pattern="{{pattern}}"
		name="{{id}}"
		type="{{type}}"
		id="{{id}}"
		class="{{class.fieldInput}}"
		type="text"
		maxlength="{{maxLength}}"
		minlength="{{minLength}}"
		required="{{required}}"
		placeholder="{{placeholder}}"
	>
</div>
