<form novalidate class="{{class.form}}">
	<h1 class="{{class.formTitle}}">Регистрация</h1>
	{{{fields}}}
	<div class="{{class.passwordError}}">Ошибка: пароли не совпадают</div>
	{{{buttons}}}
</form>
