<form novalidate class="{{class.profileBody}}">
	<div class="{{class.profileHeader}}">
		<label for="avatar" class="{{class.profileAvatar}} ibg">
			<img src="{{avatarImg}}" alt="userAvatar">
			<input id="avatar" name="avatar" type="file">
		</div>
		<div class="{{class.profileName}}">{{name}}</div>
	</div>
	<div>
		<div class="{{class.profileData}}">{{{fields}}}</div>
		<div>{{{actions}}}</div>
	</div>
</form>
