<div class="{{class.container}}">
	<div class="{{class.avatar}} ibg">
		<img src="{{avatar}}" alt="chatAvatar">
	</div>
	<div class="{{class.mainContent}}">
		<div class="{{class.userName}}">
			{{title}}
		</div>
		<div class="{{class.message}}">{{message}}</div>
		{{{button}}}
	</div>
	<div class="{{class.subContent}}">
		<div class="{{class.messageTime}}">{{time}}</div>
		<div class="{{class.counter}}">{{counter}}</div>
	</div>
</div>
