<div class="{{class.inputContainer}}">
	<div class="{{class.inputBody}}">
		<label for="{{id}}">{{label}}</label>
		{{{children}}}
	</div>
	<div class="{{class.errorContainer}}">
		<p class="{{class.errorBody}}">{{errorMessage}}</p>
	</div>
</div>
