<div class="{{class.chat}}">
	<div class="{{class.chatForm}}">
		{{{chatForm}}}
	</div>
	<div class="{{class.chatUsers}}">
		{{{addUserPopUp}}}
		<div class="{{class.chatUsersInfo}}">
			<h3 class="{{class.chatUsersTitle}}">Участники чата</h3>
			{{{newButton}}}
		</div>
		<div class="{{class.chatUsersBody}}">
			{{{usersList}}}
		</div>
	</div>
</div>
