<div class="{{class.pageContainer}}">
   <div class="{{class.leftBar}}">
      <a href="{{href}}" class="ibj">
         <img src="{{leftBarImg}}" alt="">
      </a>
   </div>
   <div class="{{class.profile}}">
      <form class="{{class.profileBody}}">
         <div class="{{class.profileHeader}}">
            <div class="{{class.profileAvatar}} ibg">
               <img src="{{avatarImg}}" alt="userAvatar">
               <input type="file">
            </div>
            <div class="{{class.profileName}}">{{name}}</div>
         </div>
         <div>
            <div class="{{class.profileData}}">{{{tmpFields}}}</div>
            <div>{{{tmpActions}}}</div>
         </div>
      </form>
   </div>
</div>