<div class="{{class.pageContainer}}">
	<div class="{{class.leftBar}}">
		<a href="{{href}}" class="ibj">
			<img src="{{leftBarImg}}" alt="">
		</a>
	</div>
	<div class="{{class.profile}}">
		{{{children}}}
	</div>
</div>
